*{margin: 0;padding: 0;border: none;list-style: none;}
body{background: #f6f6f6;}
.wrap{width: 100%;height: 100%;background: #f6f6f6;}
/*顶部logo和nav*/
.top{width: 100%;height: 60px;background: #d8d8d8;}
.top .top_center{width: 1000px;height: 60px;margin: 0 auto;background: #737373;}
.top .top_center .logo{float: left;width: 200px;height: 60px;color: red; font-size: 20px;text-align: center;line-height: 60px;background: #4b4b4b;margin-right: 200px;}
.top .top_center .nav{float: left;}
.top .top_center ul li{width: 100px;height: 60px;float: left;background: #4b4b4b;margin-right: 10px;text-align: center;line-height: 60px;font-size: 25px;color: red;}
/*主要内容*/
.main{width: 1000px;height: 100%;background: #fff;margin: 0 auto;}
/*banner*/
.banner{width: 1000px;height: 250px;background: gold;margin-bottom: 10px;font-size: 50px;text-align: center;line-height: 250px;}
.main_con{width: 1000px;height: 1270px;margin: 0 auto;padding: ;}
/*列表*/
.list{clear: both; margin-bottom: 15px;height: 300px;}
/*图片列表*/
.pic_list{width: 600px;float: left;padding: 10px 6px;box-sizing: border-box;margin-right: 50px;background: #d8d8d8;}
.pic_list_big{width: 610px;overflow: hidden;}
.pic_list .pic{width: 189px;height: 130px;background: forestgreen;float: left;margin-right: 10px;margin-bottom: 10px;text-align: center;line-height: 130px;color: white;}
/*新闻列表*/
.new_list{width: 350px;float: left;background: #D8D8D8;padding: 10px;box-sizing: border-box;}
.new_list ul li{width: 330px;height: 30px;margin-bottom: 10px;background: forestgreen;color: white;line-height: 30px;}
/*图片展示*/
.pic_show{width: 1000px;height: 410px;padding: 10px;box-sizing: border-box;margin-bottom: 20px;}
.pic_show .con{width: 235px;height: 180px;background: #333;float: left;margin-right: 10px;margin-bottom: 15px;font-size: 30px;color: wheat;text-align: center;line-height: 180px;}
/*详细内容*/
.contant{width: 1000px;height: 520px;background: #d8d8d8;margin: 0 auto;padding: 20px;box-sizing: border-box;}
.contant .con{width: 940px;height: 150px;background: #999;padding: 5px 10px;box-sizing: border-box;margin-bottom: 15px;}
.contant .con .title{width: 100px;height: 35px;background: #555;margin-bottom: 10px;line-height: 30px;color: wheat;}
.contant .con .word{width: 900px;height: 90px;background: #555;}
.bottom{width: 100%;height: 200px;background: #888;}
.bottom .bottom_con{width: 1000px;height: 200px;margin: 0 auto;background: #333;font-size: 50px;color: white;text-align: center;line-height: 200px;}